@import url('reset.css');
@import url('fonts.css');

:root{
    font-size: 62.5%;
	font-family: 'josefin', 'sans-serif';
	color: #000;
	box-sizing: border-box;
	background-color: #FFFCF7;
}

body{
	height: 1000px;
}

.clear{
	clear: both;
}

.head{
	width: 100vw;
}

header{
	padding: .5rem;
	text-align: center;
	font-size: 3.5rem;
	background-color: #fae316;
	padding-top: 1rem;
}

nav{
	display: block;
	font-size: 1.4vw;
}

ul{
	background: #FFFFFF;
	display: inline-block;
	width: 100%;
}

ul > li{
	text-align: center;
	float: left;
/*	background: #fae316;*/
	background-color: #fae316;
	height: 2.7rem;
	padding: 1vw;
	width: 12.114285714285714285714285714286vw;
	margin: .8rem 0;
	border-radius: 10rem
}

ul > li:last-child{
	border-right: none;
}

ul > li > a{
	display: block;
}

ul > li:hover{
	background-color: #FFFA66;
	color: #000;
}

ul > li:hover ol{
	display: block;
}

ol{
	display: none;
	background-color: #fae316;
	padding: .7rem 0 ;

}

ol > li{
	padding: 1rem 0;
	background-color: #fae316;
	color: #000;
	border-bottom: .25rem dotted #000;
	margin: 0 .7rem;
}


ol > li:last-child{
		border-bottom: none;
}

ol > li:hover{
	background-color: #FFFA66;
	color: #000000;
}

article{
	margin: 1%;
	width: 73%;
	float: left;
	padding: 1%;
	background-color: #dddddd;
	color: black;
}

h1{
	font-size: 2rem;
	padding: 1%;
}
.border{
	border: .18rem dashed #000000;
	margin: .7rem 0;
}
section{
	padding: 1rem;
	font-size: 2rem;
}
section > span{
	font-size: 2.3rem;
	font-weight: bold;
	margin-bottom: 1rem;
}
.img{
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 4rem;
}
.img > img{
	width: 25vw;
}
.filmik{
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 3rem;
	
}
aside{
	position: fixed;
	z-index: 100;
	padding: 1vw;
	top: 40vh;
	right: 0;
	border: .5rem dotted #000;
	border-right: none;
	border-bottom-left-radius: 2rem;
	border-top-left-radius: 2rem;
}
h2{
	font-size: 2.5rem;
}

p > a{
	font-size: 2rem
}

p >a:hover{
	color: aqua;
	
}
footer{
	background-color: #000000;
	font-size: 1.3rem;
	color: #fffa66;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: .7rem;
	border-top-left-radius: 1.4rem;
}
