@import url('reset.css');
@import url('fonts.css');

:root{
    font-size: 62.5%;
	font-family: 'josefin', 'sans-serif';
	color: #000;
	box-sizing: border-box;
}

body{
	height: 1000px;
}

.clear{
	clear: both;
}

.head{
	width: 100vw;	
}

header{
	padding: .5rem;
	text-align: center;
	font-size: 3.5rem;
	background-color: #FFE500;
	padding-top: 1rem;
}

nav{
	display: block;
	font-size: 2.3rem;
}

ul{
	background: #FFE500;
	display: inline-block;
	width: 100%;
}

ul > li{
	text-align: center;
	float: left;
	background: #FFE500;
	height: 2.7rem;
	padding: 1vw;
	border-right: .2vw dotted #000;
	width: 12.114285714285714285714285714286vw;
	margin: .8rem 0;
}

ul > li:last-child{
	border-right: none;
}

ul > li > a{
	display: block;
}

ul > li:hover{
	background-color: #FFFA66;
	color: #FAE316;
}

ul > li:hover ol{
	display: block;
}

ol{
	display: none;
	background-color: lime;
	padding: .7rem 0 ;
}

ol > li{
	padding: 1rem 0;
	background-color: lime;
	color: maroon;
	border-bottom: .25rem dotted red;
	margin: 0 .7rem;
}

ol > li:last-child{
		border-bottom: none;
}

ol > li:hover{
	background-color: mediumvioletred;
	color: orangered;
}

article{
	margin: 1%;
	width: 70%;
	background-color: darkgreen;
	float: left;
	padding: 1%;
}

h1{
	font-size: 2rem;
	background-color: firebrick;
	padding: 1%;
}

section{
	background-color: blue;
	padding: 1rem;
	font-size: 2rem;
}
aside{
	position: fixed;
	z-index: 100;
	background-color: cornflowerblue;
	padding: 1vw;
	top: 15rem;
	right: 1vw;	
}
h2{
	font-size: 2.5rem;
}

p > a{
	font-size: 2rem
}

p >a:hover{
	color: aqua;
	
}
footer{
	background-color: indigo;
	font-size: 1.3rem;
	color: palegreen;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: .7rem;
	border-top-left-radius: 1.4rem;
}
